<%= render :partial => "search/search_box" %> 
<br/>
<br/>

<h1>Listing log_book_entries </h1>

<%= render :partial => "search/table", :locals => {:action => 'index', :tag=> nil, :table_entries => @log_book_entries, :prev_order => @prev_order, :direction => @direction } %>

<br />

<%= link_to 'New Entry', new_log_book_entry_path %>
