<% if @tag %>
  <h1>Entries Matching <%= @tag %></h1>
<% end %>

<%= render :partial => "table", :locals => {:action => 'label', :tag => @tag, :table_entries => @matched_entries, :prev_order => @prev_order, :direction => @direction } %>

<%= will_paginate @matched_entries %>
<%= link_to 'All Entries', log_book_entries_path %>
<br /> 
