<p>
  <b>Title:</b>
  <%= link_to @github_project.title, print_github_project_link(@github_project.title) %></td>
</p>

<p>
  <b>Github name:</b>
  <%=h @github_project.github_name %>
</p>


<%= link_to 'Edit', edit_github_project_path(@github_project) %> |
<%= link_to 'Back', github_projects_path %>
